<!-- component -->
<style>
    body {
        background-color: #e09129 !important;
    }
</style>

<header class="bg-white bg-opacity-5 text-white shadow-lg hidden md:block shadow-2xl">
    <div class="container mx-auto flex items-center h-24">
        <a href="/" class="flex items-center justify-center">
            <img class="h-16" src="https://i.ibb.co/6Yxs70d/2021-10-26-23h27-03.png" alt="" />
            <span class="ml-4 uppercase font-black">clara<br />thella</span>
        </a>
        <nav class="contents font-semibold text-base lg:text-lg">
            <ul class="mx-auto flex items-center">
                <li class="p-5 xl:p-8 active">
                    <a href="/">
                        <span>Home</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="#map">
                        <span>Map</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="/secretPage">
                        <span>Secret Page</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="#register">
                        <span>Register</span>
                    </a>
                </li>
                <li class="p-5 xl:p-8">
                    <a href="/signOut">
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="#logIn" class="border border-white rounded-full font-bold px-8 py-2">Log In</a>
    </div>
</header>